<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="IntegratedSuite">
<!-- <suite name="IntegratedSuite" parallel="tests" thread-count="3"> -->


    <test name="WIN10TEST_CHROME">
        <!--
        <parameter name="browser" value="Chrome" />
        <parameter name="version" value="114.0" />
        -->
        <classes>
            <class name = "org.demo.runner.TestNGCucumberRunner" />
        </classes>
    </test>

    <!--
    <test name="WIN10TEST_FF">
        <parameter name="browser" value="Firefox" />
        <parameter name="version" value="64.0" />
        <classes>
            <class name = "org.demo.runner.TestNGCucumberRunner" />
        </classes>
    </test>
    -->

</suite>